@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Caveat&family=Nunito:wght@200&family=Quicksand:wght@300;500&family=Roboto:wght@100&display=swap');

* {
    --quicksand: 'Quicksand';
    --caveat: 'Caveat';
    --nunito: 'Nunito';
    --blue: rgb(0, 0, 134);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
}

html,
body {
    font-size: 15px;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}

/* nav */
#logo {
    position: fixed;
    padding-left: 0.5rem;
    align-self: flex-start;
    width: 15%;
    max-width: 15%;
    font: 2.4rem var(--quicksand);
    font-weight: 900;
    /* color: var(--blue); */
    z-index: 20;
}

nav {
    position: fixed;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    max-width: 15%;
    height: 3rem;
    text-decoration: none;
    font: 900 1.5vh var(--quicksand);
    color: black;
    text-align: center;
}

a span:nth-child(2) {
    display: none;
}

a:hover :first-child {
    display: none;
}

a:hover span:nth-child(2) {
    display: block;
}

nav a:hover {
    scale: 1.1;
}

.active {
    border-radius: 3px;
    background-color: skyblue;
}

.shownav {
    transform: translateY(197%);
    transition: 1s;
}

/* background */
#background {
    display: none;
    z-index: -100;
    position: fixed;
    right: 0;
    top: -19rem;
    animation: translate 8s ease-in-out -2s infinite;
}

#background1 {
    display: none;
    z-index: -100;
    position: fixed;
    right: 0;
    bottom: 10px;
    animation: translate 3s ease-in-out -2s infinite;
}

@keyframes translate {
    0% {
        transform: translateY(-3%);
    }

    50% {
        transform: translateY(3%);
    }

    100% {
        transform: translateY(-3%);
    }
}

/* home */

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    border-bottom: 1px solid grey;
    align-items: center;
    justify-content: center;
}

#welcome {
    width: 80%;
    max-width: 80%;
}

#intro {
    font: 6vw var(--quicksand);
    color: var(--blue);
}

#hi {
    font: 4vw var(--quicksand);
}

#talk {
    padding: 0.5rem 0;
    font: 600 3vw var(--nunito);
}

#logos {
    display: flex;
    width: 80%;
    max-width: 80%;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 0.5rem;
}

#logos>img {
    width: 4vh;
    height: 4vh;
    margin: 0.1rem;
    visibility: hidden;
    animation: show 2s linear forwards;
    animation-delay: calc(0.2s * var(--i));
}

@keyframes show {
    0% {
        visibility: visible;
        scale: 0.5;
    }

    25% {
        transform: translateY(-1vh);
    }

    50% {
        transform: translateY(2vh);
    }

    75% {
        scale: 1.2;
    }

    100% {
        visibility: visible;
        scale: 1.0;
    }
}

#logos>img:hover {
    scale: 1.2;
}

/* Skills */
#skills {
    display: flex;
    justify-content: center;
}

#Skillsheader {
    font: 3vh var(--quicksand);
    font-weight: 600;
    color: black;
    text-align: center;
}

table {
    transform: translateX(1vw);
}

thead>tr>td {
    text-align: center;
}

td {
    font: 'Roboto';
    text-align: left;
    padding: 0.5rem;
    border-bottom: 2px solid black;
}

td:first-child {
    font: 4vw 'Nunito';
    font-weight: bold;
}

td:nth-child(2) {
    font: 4vw 'Nunito';
}

/* DevOps and WebDev Styling */
#cloud {
    display: flex;
    transform: translateX(1vw);
    border: 1px solid yellow;
}

#title {
    font: 5vw var(--quicksand);
    font-weight: 600;
    color: black;
    text-align: center;
    text-decoration: underline;
}

#link-container {
    max-width: 100%;
    max-height: 100%;
    /* margin-top: 4rem; */
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

section {
    display: flex;
    width: 100%;
    border: 1px solid blue;
    /* width: fit-content; */
    flex-wrap: wrap;
    justify-content: left;
}

section>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14vh;
    width: 28vw;
    padding: 0.7rem;
    margin: 0.5rem;
    border-radius: 0.9rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font: 0.5rem 'Nunito';
    background-color: var(--blue);
}

section>a:hover {
    transform: translateY(-0.3rem);
}

/* footer */
#footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    font: 1.85vh var(--quicksand);
}

@media (min-width: 0px) and (max-width: 359.9px) {
    #background {
        display: block;
        top: -15rem;
        height: 85%;
    }
}

@media (min-width: 360px) and (max-width: 767.9px) {
    #background {
        display: block;
        height: 90%;
    }

    /* section>a {
        height: 5rem;
        width: 5rem;
    } */
}

@media (min-width: 768px) and (max-width: 1279.9px) {

    #background {
        display: block;
        height: 105%;
        top: -45rem;
    }

    /* section {
        width: fit-content;
        justify-content: left;
    }

    section>a {
        font-size: 75%;
        height: 8rem;
        width: 9rem;
    } */
}

/* landscape */
@media (orientation: landscape) {
    #background1 {
        display: block;
    }

    /* home */
    main {
        height: 100vh;
        transform: translateY(5vh);
    }

    #welcome,
    #logos {
        width: 70%;
    }

    #intro {
        font-size: 9vh;
    }

    #hi {
        font-size: 6vh;
    }

    #talk {
        font-size: 4.5vh;
    }

    #logos>img {
        width: 8vh;
        height: 8vh;
    }

    /* Skills */
    #Skillsheader {
        font-size: 3vw;
    }

    td:first-child {
        font-size: 4vh;
    }

    td:nth-child(2) {
        font-size: 4vh;
    }

    /* footer */
    #footer {
        height: 10vw;
        font-size: 1.85vw;
    }
}

@media (min-width: 0px) and (max-width: 599.9px) and (orientation: landscape) {
    /* 

    #welcome {
        transform: translateY(30%);
    }

    #logos>img {
        width: 5%;
        height: 5%;
    }

    td {
        padding: 0rem;
    }

    td:first-child {
        font-size: 0.95rem;
    }

    td:nth-child(2) {
        font-size: 0.75rem;
    }

    section>a {
        font-size: 45%;
        height: 4rem;
        width: 4.5rem;
    } */
}

@media (min-width: 601px) and (max-width: 920px) and (orientation: landscape) {
    /* #background1 {
        display: block;
    }

    #hi {
        font-size: 1.3rem;
    }

    td {
        padding: 0.2rem;
    }

    td:first-child {
        font-size: 1rem;
    }

    td:nth-child(2) {
        font-size: 0.8rem;
    }

    section>a {
        font-size: 50%;
        height: 4.5rem;
        width: 5rem;
    } */
}

@media (min-width: 921px) and (max-width: 1279.9px) and (orientation: landscape) {
    /* #background {
        display: block;
        height: 300%;
        top: -90rem;
    } */
}

/* PC Screens */
@media (min-width: 1200px) {
    /* #logo {
        position: fixed;
        top: 0;
        font-size: 3rem;
        background-color: transparent;
    }

    nav {
        left: 0;
        width: 4vw;
        max-width: 4vw;
        height: 100vh;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    nav a {
        width: 80%;
        max-width: 80%;
        color: black;
        height: 3rem;
    }

    nav a:hover {
        scale: 1.1;
        font-size: scale(80%);
    }

    .shownav {
        transform: translateX(9.8vw);
    }

    #background1 {
        display: block;
    }

    #intro {
        font-size: 7rem;
    }

    #hi {
        font-size: 2.5rem;
    }

    #talk {
        font-size: 1.2rem;
    }

    #logos>img {
        margin: 0.1rem;
    } */

    /* Skills */
    table {
        width: 60%;
        transform: translateX(35%);
    }

    td:first-child {
        font: 1.2rem 'Nunito';
        font-weight: bold;
    }

    td:nth-child(2) {
        font: 1rem 'Nunito';
    }

    /* The Rest */
    section>a {
        font-size: 100%;
        height: 10rem;
        width: 12rem;
    }
}