@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Caveat&family=Nunito:wght@200&family=Quicksand:wght@300;500&family=Roboto:wght@100&display=swap');

* {
    --quicksand: 'Quicksand';
    --caveat: 'Caveat';
    --nunito: 'Nunito';
    --blue: rgb(0, 0, 134);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
}

html,
body {
    font-size: 15px;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}

/* nav */
#logo {
    position: fixed;
    padding-left: 0.5rem;
    align-self: flex-start;
    width: 15%;
    max-width: 15%;
    font: 2.4rem var(--quicksand);
    font-weight: 900;
    color: white;
    background-color: var(--blue);
    z-index: 20;
}

nav {
    position: fixed;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
    background-color: var(--blue);
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    max-width: 15%;
    height: 3rem;
    text-decoration: none;
    font: 900 1rem var(--quicksand);
    color: black;
}

nav a:hover {
    scale: 1.1;
}

.active {
    border-radius: 3px;
    background-color: white;
}

#nav-details {
    position: fixed;
    top: -3rem;
    right: 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
    background-color: var(--blue);
}

#nav-details>p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font: 0.6rem var(--quicksand);
    color: white;
    width: 15%;
    height: 3rem;
}

.shownav {
    transform: translateY(197%);
    transition: 1s;
}

/* background */
#background {
    display: none;
    z-index: -100;
    position: fixed;
    right: 0;
    top: -19rem;
    animation: translate 8s ease-in-out -2s infinite;
}

#background1 {
    display: none;
    z-index: -100;
    position: fixed;
    right: 0;
    bottom: 10px;
    animation: translate 3s ease-in-out -2s infinite;
}

@keyframes translate {
    0% {
        transform: translateY(-3%);
    }

    50% {
        transform: translateY(3%);
    }

    100% {
        transform: translateY(-3%);
    }
}

/* home */

main {
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 40px 20px 20px;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    border-bottom: 1px solid grey;
    align-items: center;
}

#welcome {
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
}

#intro {
    font: 3rem var(--quicksand);
    color: var(--blue);
}

#hi {
    font: 1.3rem var(--quicksand);
}

#talk {
    padding: 0.5rem 0;
    font: 600 0.8rem var(--nunito);
}

#logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0.5rem;
}

#logos>img {
    width: 10%;
    height: 10%;
    margin: 0.1rem;
}

#logos>img:hover {
    scale: 1.2;
}

/* Skills */
#skills {
    display: flex;
    justify-content: center;
}

#Skillsheader {
    font: 1.5rem var(--quicksand);
    font-weight: 600;
    color: black;
    text-align: center;
}

table {
    width: 80%;
    transform: translateX(10%);
}

thead>tr>td {
    text-align: center;
}

td {
    font: 'Roboto';
    text-align: left;
    padding: 0.5rem;
    border-bottom: 2px solid black;
}

td:first-child {
    font: 1rem 'Nunito';
    font-weight: bold;
}

td:nth-child(2) {
    font: 0.9rem 'Nunito';
}

/* DevOps and WebDev Styling */
#link-container {
    width: 80%;
    height: 85%;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 4rem;
    border-radius: 5px;
}

#title {
    transform: translateY(150%);
    font: 1.5rem var(--quicksand);
    font-weight: 600;
    color: black;
    text-align: center;
    text-decoration: underline;
}

section {
    margin-top: 1rem;
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    justify-content: space-between;
}

section>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    width: 6rem;
    padding: 0.7rem;
    margin: 0.5rem;
    border-radius: 0.9rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font: 0.5rem 'Nunito';
    background-color: var(--blue);
}

section>a:hover {
    transform: translateY(-0.3rem);
}

/* footer */
#footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    font: 0.95rem var(--quicksand);
}

@media (min-width: 0px) and (max-width: 359.9px) {
    #background {
        display: block;
        top: -15rem;
        height: 85%;
    }

    td {
        padding: 0.1rem;
    }

    td:first-child {
        font-size: 1.05rem;
    }

    td:nth-child(2) {
        font-size: 0.8rem;
    }

    section>a {
        font-size: 40%;
        height: 4rem;
        width: 4rem;
    }

    #footer {
        font-size: 0.7rem;
    }
}

@media (min-width: 360px) and (max-width: 767.9px) {
    #background {
        display: block;
        height: 90%;
    }

    #logos>img {
        width: 7%;
        height: 7%;
        margin: 0.1rem;
    }

    section>a {
        height: 5rem;
        width: 5rem;
    }
}

@media (min-width: 768px) and (max-width: 1279.9px) {
    nav>a {
        width: 10%;
    }

    #nav-details>p {
        font-size: 0.8rem;
        width: 10%;
    }

    #background {
        display: block;
        height: 105%;
        top: -45rem;
    }

    #intro {
        font-size: 4rem;
    }

    #hi {
        font-size: 1.8rem;
    }

    #talk {
        font-size: 1rem;
    }

    #logos>img {
        width: 5%;
        height: 5%;
        margin: 0.1rem;
    }

    section {
        width: fit-content;
        justify-content: left;
    }

    section>a {
        font-size: 75%;
        height: 8rem;
        width: 9rem;
    }
}

/* landscape */
@media (min-width: 0px) and (max-width: 599.9px) and (orientation: landscape) {
    #background1 {
        display: block;
    }

    #welcome {
        transform: translateY(30%);
    }

    #intro {
        font-size: 2rem;
    }

    #logos>img {
        width: 5%;
        height: 5%;
    }

    td {
        padding: 0rem;
    }

    td:first-child {
        font-size: 0.95rem;
    }

    td:nth-child(2) {
        font-size: 0.75rem;
    }

    section>a {
        font-size: 45%;
        height: 4rem;
        width: 4.5rem;
    }
}

@media (min-width: 601px) and (max-width: 920px) and (orientation: landscape) {
    #background1 {
        display: block;
    }

    #welcome {
        transform: translateY(30%);
    }

    #intro {
        font-size: 2rem;
    }

    #hi {
        font-size: 1.3rem;
    }

    td {
        padding: 0.2rem;
    }

    td:first-child {
        font-size: 1rem;
    }

    td:nth-child(2) {
        font-size: 0.8rem;
    }

    section>a {
        font-size: 50%;
        height: 4.5rem;
        width: 5rem;
    }
}

@media (min-width: 921px) and (max-width: 1279.9px) and (orientation: landscape) {
    #background {
        display: block;
        height: 300%;
        top: -90rem;
    }
}

/* PC Screens */
@media (min-width: 1280px) {
    #logo {
        position: fixed;
        top: 0;
        font-size: 3rem;
        background-color: transparent;
    }

    nav {
        left: 0;
        width: 4%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav a {
        width: 80%;
        max-width: 80%;
        color: black;
        height: 3rem;
    }

    #nav-details {
        top: 0;
        left: -6rem;
        width: 5%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #nav-details>p {
        text-align: left;
        justify-content: left;
        font-size: 0.8rem;
        width: 80%;
    }

    .shownav {
        transform: translateX(198%);
    }

    #background1 {
        display: block;
    }

    #intro {
        font-size: 7rem;
    }

    #hi {
        font-size: 2.5rem;
    }

    #talk {
        font-size: 1.2rem;
    }

    #logos>img {
        width: 3%;
        height: 3%;
        margin: 0.1rem;
    }

    /* Skills */
    table {
        width: 60%;
        transform: translateX(35%);
    }

    td:first-child {
        font: 1.2rem 'Nunito';
        font-weight: bold;
    }

    td:nth-child(2) {
        font: 1rem 'Nunito';
    }

    /* The Rest */
    section>a {
        font-size: 100%;
        height: 10rem;
        width: 12rem;
    }
}